<h1>Update Student Attendance</h1>
<hr>


<%= form_with scope: :attendance, url: {:controller => "students", :action => ""}, local: true do |form| %>
<h2>Select Absentees</h2>
<% @students.each do |i| %>
      <%= form.check_box "absent[i.rno]" %> <%= i.rno %><br />
    <% end %>
<%= form.submit :'Update Attendance' %> 
<% end %> 

