<h1>Update Student Attendance</h1>
<hr>


<%= form_with scope: :attendance, url: {:controller => "students", :action => "putattendance"}, local: true do |form| %>
<h2>Select Absentees</h2>
<table>
  <tbody>
<% @students.each do |i| %>
  <%= form.check_box(:absentees, { :multiple => true }, i.rno) %>
  <%= i.rno %><br>
<% end %>   
 </tbody>
  </table>
<%= form.submit :'Update Attendance' %> 
<% end %> 

